@tailwind base;
@tailwind components;
@tailwind utilities;


/* .image-container {
  position: relative;
  display: inline-block; 
  width: 360px;
  height: 360px;
} */

img {
  /* width: 360px;
  height: 360px;
  width: auto;
  height: auto;
  display: block; */
  min-width: 100%;
  min-height: 100%;

}


